<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            @for (item of productos; track item.product_id) {
              <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">{{item.product_name}}</p>
                <div class="btn-group" role="group" aria-label="Acciones">
                  <button type="button" class="btn btn-primary" [routerLink]="['edicion',item.product_id]">Modificar</button>
                  <button type="button" class="btn btn-danger" (click)="eliminar(item.product_id)">Eliminar</button>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  