p:hover{
background-color: blue;
}

div{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 2%;  
    border: solid 1px black;
    background-color: aqua;
    text-align: center;
}